<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Index</title>
</head>
<body>
    <ul>
        <% for (let i = 0; i < cars.length; i++) { %>
        <li>
            <a href="/cars/<%= cars[i]._id %>">
            <%= cars[i].make %> 
            </a>

            <form action="/cars/<%= cars[i]._id %>?_method=DELETE" method="POST">
                <a href="/cars/<%= cars[i]._id %>/edit">EDIT</a>
              <button type="submit">DELETE</button>
            </form>
            
        </li>
        <% } %> 
    </ul>
    <nav>
        <a href="/cars/new">Create a new car</a>
    </nav>
</body>
</html>