<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page</title>
</head>
<body>
    <h1>New page</h1>
    <form action="/cars" method="POST">
        <p>Make: <input type="text" name="make" /></p>
        <p>Model: <input type="text" name="model" /></p>
        <p>Year: <input type="text" name="year" /></p>
        <input type="submit" name="" value="Create Car" />
    </form>
</body>
</html>