<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars show page</title>
</head>
<body>
    <h1><%= car.make %> </h1>
    <h3><%= car.model %> </h3>
    <h3><%= car.year %> </h3>
</body>
</html>